body {
  width: 960px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 250px;
}

header {
  grid-column-start: 1;
  grid-column-end: last;
  background-color: red;
}

.productCell {
  outline: 2px solid black;
  background-color: aqua;
}
#productPos1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* #productPos2 {
  grid-column-start: 5;
  grid-column-end: 9;
}

#productPos3 {
  grid-column-start: 9;
  grid-column-end: last;
} */

#results {
  grid-column-start: 1;
  grid-column-end: 12;

}